@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-itim: var(--font-itim);
  --font-cbo: var(--font-cbo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
   font-family:var(--font-itim);
  background-color: lemonchiffon;
  background-image: linear-gradient(90deg, transparent 50%, rgba(240, 230, 140, .5) 50%);
  background-size: 50px 50px;

}

.nav_container, .footer_container{
  background-color: darkgreen;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 50px;
  gap:2em;
  border-bottom: 0.25em solid white;
}

.nav_container ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
}

.nav_container a:hover{
  text-decoration-line: underline;
    text-decoration-style: dotted;
}

h1{
  font-size: 2em;
}

.footer_container{
  display: flex;
  justify-content: space-between;
  padding: 0.8em 50px;
}

.footer_container ul{
  display: flex;
  gap: 1em;
}

.home_container{
  text-align: center;
  padding: 2em 0;
}

h2{
  font-size: 3em;
}

h2:not(.hero_image h2){
  color:darkgreen;
  margin-bottom: 0.5em;
  font-size: 3em;
}

.recipes_grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:2em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6em;
}

.recipe_card{
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: forestgreen;
  color:white;
  padding: 1em;
  border: 0.25em solid white;
  font-size: 1.5em;
  border-radius: 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
  gap:5px;
}

.recipe_card img{
  border-radius: 7em;
}

.recipe_card a{
  font-size: 0.70em;
  background-color: firebrick;
  border: 2px solid darkgreen;
  padding: 0.50em;
  border-radius: 2em;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s;
}

.recipe_card a:hover{
  background-color: khaki;
  color: black;
}

.hero_image{
  text-align: center;
  padding:4em 0;
  background-color: goldenrod;
}

.hero_image h2, h3{
  font-family: var(--font-cbo);
}

.hero_image, .home_container{
  color:black;
}