@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: lemonchiffon;
  background-image: linear-gradient(90deg, transparent 50%, rgba(240, 230, 140, .5) 50%);
  background-size: 50px 50px;

}

.nav_container, .footer_container{
  background-color: darkgreen;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 50px;
}

.nav_container ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
}

h1{
  font-size: 2em;
}

.footer_container{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 50px;
}

.home_container{
  text-align: center;
  padding: 2em 0;
}

.home_container h2{
  margin-bottom: 1em;
  font-size: 1.5em;
}

h2{
  font-size: 2.5em;
}

.recipes_grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6em;
}

.recipe_card{
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: green;
  color:white;
  padding: 1em;
  border: 0.25em solid white;
  font-size: 1.25em;
  border-radius: 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
  gap:5px;
}

.recipe_card img{
  border-radius: 7em;
}

.recipe_card a{
  font-size: 0.80em;
  background-color: firebrick;
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 1em;
}

.hero_image{
  text-align: center;
  padding:4em 0;
}

.hero_image, .home_container{
  color:black;
}